.DisplayHeader {
    display: flex;
    align-items: center;
    height: 2.5rem;
    justify-content: space-between;
}

.menu-and-title-container {
    width: 13rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    width: 1rem;
    height: 1rem;
    align-self: center;
}

.menu-div {
    display: flex;
    width: 2.8rem;
    height: 2.2rem;
    justify-content: center;
}

.menu-div:hover {
    background-color: #3d3d3d;
    border: 0.5rem thin #3d3d3d;
    border-radius: 0.2rem;
}

.menu-label {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.keep-on-top {
    width: 1.1rem;
    height: 1.1rem;
    align-self: center;
}

.keep-on-top-div {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    margin-left: 0.5rem;
}

.keep-on-top-div:hover {
    background-color: #3d3d3d;
    border: 0.5rem thin #3d3d3d;
    border-radius: 0.2rem;
}

.memory {
    width: 1.4rem;
    height: 1.4rem;
    align-self: center;
}

.memory-div {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    margin-right: 0.5rem;
}

.memory-div:hover {
    background-color: #3d3d3d;
    border: 0.5rem thin #3d3d3d;
    border-radius: 0.2rem;
}