.Parent {
    background-color: #202020;
    min-height: 45rem;
    min-width: 27rem;
    display: flex;
    flex-direction: column;
    border: 0.01rem solid #202020;
    border-radius: 0.5rem;
    overflow: auto;
    resize: both;
    align-self: center;
}

.Parent-mazimize {
    height: 99.8vh;
    width: 100vw;
}

.Parent-minimize {
    height: 45rem;
    width: 27rem;
}